<!--
23/01/2022
@author: Tony Quedeville
Studi.com
Bachelor développeur d'application Python.
Evaluation: BDACSDEXA21A (Gestion de liste)
-->

<!DOCTYPE html>
<html lang="fr">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Studi Liste</title>
        <link rel="icon" type="image/png" href="../static/img/icn-STS.ico" />
        <link rel="stylesheet" href="../static/style.css">
    </head>
    
    <body class="fond unselectable">
        <main class="horizontale">          

            <!-- Feuille d'illustration -->
            <div class="illustration">
                <!-- Formulaire de connexion -->
                <form method="get" action="" class="verticale cafe">
                    <div>
                        <div class="verticale">
                            <h1 class="txtcenter">Studi Liste</h1>
                        </div>

                        <div>
                            <label for="pseudo">Pseudo</label>
                            <input type="text" placeholder="Pseudo" id="pseudo" name="pseudo" required>
                            
                            <label for="motpass">Mot de passe</label>
                            <input type="password" placeholder="********" id="motpass" name="motpass" required>
                        </div>
                    </div>

                    <div class="verticale">
                        <button type="button" id="seConnecter" >Se connecter
                            <div  class="btn">
                                Se connecter
                            </div>
                        </button>

                        <!-- Identification Pseudo -->
                        <div class="horizontale">
                            <h3 id="visiteur">Connection en tant que simple visiteur.</h3>
                        </div>
                    </div>

                    <!-- Lien vers maquette Adobe XD et github-->
                    <div>
                        <a href="https://xd.adobe.com/view/c6e06b06-61eb-4d06-8611-24055f746a9d-93b3/grid" target="_blank">Maquette Adobe XD</a>
                        <a href="https://github.com/TonyQuedeville/Gestion-de-liste-EvalBDACSDEXA21A" target="_blank">Projet Github</a>
                    </div>
                </form>
            </div>

        </main>

        <footer>
            <div class="horizontale">
                <h2>Bachelor développeur d'application Python.</h2>
                <h2>Evaluation: BDACSDEXA21A</h2>
            </div>
        </footer>

        <!-- script -->
        <script src="../static/jQuery.js"></script>
        <script src="../static/index.js"></script>
    </body>

</html>